[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=hx -- %u
Terminal=true
Name=Helix Desktop
Comment=Helix Desktop
MimeType=text/plain;
